div{
  align-items: center;
  margin: 5px;
  padding: 5px 15px 5px 3px;
  display: inline-block;
  font-family: Helvetica;
}
.a, .c{
  background-color: yellow;
  }

.b{
  background-color: deeppink;
  font-family: cursive;
  font-size: 13px;
}
