div{
  align-items: center;
  margin: 15px;
  margin-left: 200px;
  padding: 5px 0px 40px 5px;
  width: 170px;
  height: 20px;
  display: block;
  font-family: Helvetica;
}
.a, .c{
  background-color: yellow;
  }

.b{
  background-color: deeppink;
  font-family: cursive;
}
